In [1]:
def orderingCharge1(no_of_orders):
    return round((no_of_orders - 1)*2.95 + 10.95,2)

In [2]:
orderingCharge1(1)

10.95

In [3]:
x=[2,4,56,6,7,8,6,53,3,2,4,4]

In [4]:
x[2]

56

In [6]:
x[-3]

2

In [7]:
x[:5]

[2, 4, 56, 6, 7]

In [8]:
x[0:6]

[2, 4, 56, 6, 7, 8]

In [9]:
x.append(-20)

In [10]:
x

[2, 4, 56, 6, 7, 8, 6, 53, 3, 2, 4, 4, -20]

In [11]:
x.insert(4,345)

In [12]:
x

[2, 4, 56, 6, 345, 7, 8, 6, 53, 3, 2, 4, 4, -20]

In [13]:
x.sort()

In [14]:
x

[-20, 2, 2, 3, 4, 4, 4, 6, 6, 7, 8, 53, 56, 345]

In [15]:
x.sort(reverse=True)

In [16]:
x

[345, 56, 53, 8, 7, 6, 6, 4, 4, 4, 3, 2, 2, -20]

In [23]:
def median(a,b,c):
    numbers = [a,b,c]
    numbers.sort()
    return numbers[1]

In [27]:
median(2,5,1)

2

In [29]:
median(32,-124,35)

32

In [30]:
def perfect():
    for i in range(1,n+1):
        print(i)
    num=''
    if sum % num = 0:
        return True
    else:
        return False

SyntaxError: invalid syntax (<ipython-input-30-b651f76d53a6>, line 5)

In [41]:
def perfect(n):
    sum=0
    for i in range(1,n):
        if n % i == 0:
            sum = sum + i
    if sum == n:
        print(True)
    else:
        print(False)

In [44]:
perfect(8)

False

In [1]:
def salaryInc():
    for i in range(4):
        salary=float(input('Enter Salary: '))
        if salary>=10000:
            print(0.1*salary+salary)
        else:
            print(1.05*salary)

In [2]:
salaryInc()

Enter Salary: 34
35.7
Enter Salary: 566
594.3000000000001
Enter Salary: 453
475.65000000000003
Enter Salary: 4545
4772.25

In [3]:
def salaryInc(n):
    for i in range(2):
        salary=float(input('Enter Salary: '))
        if salary>=10000:
            print(0.1*salary+salary)
        else:
            print(1.05*salary)

In [4]:
salaryInc(2)

Enter Salary: 122
128.1
Enter Salary: 3435
3606.75